
/*
Fuentes externas
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');


/*
Estilos Generales
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgba(52, 73, 94,1.0);
}

header{
    background: #fff;
    padding: 50px 0 0 0;
    width: 100%;
    height: 200px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

nav{
    margin-top: 5px;
}

ul li{
    display: inline-block;
    position: relative;    
}

ul li a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 25px;
}

figure img{
    width: 100%;
    height: 300px;
}

.banner2{
    width: 600px;
    height: 200px;
    background: white;    
    position: relative;
    top: -120px;
    right: ;
    margin: 0 auto; 
}

